.header{
    height: 100px;
    display: inline-flex;
}
.navbar{
    width: 100%;
    color:#fff;
    background-color: #143454;
    height: 50px;
}
.headerpart{
    width: 100%;
    height: 90px;
    display: inline-flex;
    flex-direction: row;

    
}
.pic{
    position: absolute;
    right: 10px;
    margin-top: 0px;
}
 .logo{
    width: 100px;
    height: 90px;
    display:flex;
    
}
.pic{
    width: 100px;
    height: 70px;
    margin-top: 10px;
    display: flex;
   align-items: flex-end;
}
.showingtext{
   text-align:  top;
   position: relative;
  
   

}
.text{
    text-align: bottom;
    position: relative;
    left: 30px;
} 
 /* .container{
    background-color:#fff;
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    
}  */
.navbar .container{
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 10px;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
    margin: 0px 10px;

}
.navbar .button a{
    background-color: #fff;
    color: #143454;
    border-radius: 1px;
    font-size: 25px;
 
    text-decoration: none;
}
/* .navbar .button a:hover{
    color:#ddd;
    display: flex;
    justify-content: end;
    direction: inherit;
    transition: 0.2s ease;
} */
.wrapper{
   
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    text-decoration: none;
}
.wrapper>*{
   
 
    flex:1 100%;
}

.footer{
    background-color: #143454;
    height:70px;
    display: flex;
    text-decoration: none ;
    /* border-bottom: none;
    flex-flow: row; */ 
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}
.main{
   
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(img/120006772.jpg); 
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    color: crimson;
    background-position:center; 
    text-align: center;
    font-size: 35px;
}
#button{
    
   box-sizing: 100px;
   background-color:coral ;
   color:white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
   text-decoration: none;
   border: none;
   font-size: 20px;
   width: 150px;
   height: 40px;
  
   cursor: pointer; 


}

@media all and (min-width:800px){

    .main{
        order:2;
    }
    .footer{
        order:4
    } 
    
}

@media all and (min-width:600px){
    .aside{
        flex:1;
    }
}


